<app-nav></app-nav>
<div class="flexbox">
  <div class="flexbox-column flexbox-width">
    <div>
      <img class="page-icon m-4" [src]="icon"/>
    </div><div  class="flexbox flexbox-width">
    <h2 class="title">DANE KONTA</h2>
  </div>

    <div  class="flexbox flexbox-width ">

      <div class="flexbox-column left-side">
          <p class="m-4">IMIE</p>
          <p class="m-4">NAZWISKO</p>
          <p class="m-4">STANOWISKO</p>
          <p class="m-4">DOŚWIADCZENIE</p>
      </div>
    <div class="flexbox-column right-side">
        <p class="m-4">MACIEJ</p>
        <p class="m-4">WAWRYSZUK</p>
        <p class="m-4">STARSZY REKRUTER</p>
        <p class="m-4">ROK</p>
      </div>
    </div>

  </div>
</div>
