<div id="sect1" class="d-flex p-2 justify-content-center align-items-center flex-column h-100">
  <div class="d-flex justify-content-start align-items-center text-white">
  <h1 class="mr-auto p-2">{{Top1}}</h1>
</div>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center flex-column  text-white button-container vw-100 ">
      <h2 class=" p-4">{{welcome}}</h2>
      <button class="simple-button ">Zacznij</button>
    </div>
  </div>


</div>
