<app-nav></app-nav>
<div class="flexbox mobile-table flexbox-width">
  <div class="flexbox-column mobile-table">
    <div>
      <img class="page-icon m-4" [src]="icon"/>
    </div>

    <table  class="flexbox mobile-table" >
<tbody class="mobile-table  ">
      <tr class=" beam mobile-table-list  ">
        <th class="m-3">ZDJECIE</th>
        <th class="m-3">IMIE</th>
        <th class="m-3">NAZWISKO</th>
        <th class="m-3">EMAIL</th>
        <th class="m-2">TEL.</th>
        <th class="m-2">DATA UR.</th>
        <th class="m-2">CV</th>
        <th class="m-2">NAZWA STANOWISKA</th>
        <th class="m-2">DOŚ.</th>
        <th class="m-2">KAT.</th>
        <th class="m-2">JĘZYK</th>
        <th class="m-2">DOSTĘPNOŚĆ</th>
        <th class="m-2">PRZYJĘTY</th>
        <th class="m-2">Usuwanie</th>
      </tr>
      <tr class=" table-list mobile-table-list " *ngFor="let candidate of candidates; let odd = odd">
        <td class="m-2"><img class="user" [src]="user"></td>
        <td class="m-2">{{candidate.name}}</td>
        <td class="m-2">{{candidate.surname}}</td>
        <td class="m-2">{{candidate.email}}</td>
        <td class="m-2">{{candidate.phone}}</td>
        <td class="m-2">{{candidate.date}}</td>
        <td class="m-2">{{candidate.cv}}</td>
        <td class="m-2">{{candidate.position}}</td>
        <td class="m-2">{{candidate.experience}}</td>
        <td class="m-2">{{candidate.category}}</td>
        <td class="m-2">{{candidate.language}}</td>
        <td class="m-2">{{candidate.availability}}</td>
        <td class="m-2">{{candidate.adopted}}</td>
        <td class="m-2"><button class="btn" (click)="deleteCandidate(candidate.id)">Usuń</button></td>
      </tr></tbody>
    </table>
    <app-add-candidate #form (newCandidate)="onNewCandidate($event)" ></app-add-candidate>

  </div>
</div>
