.beam{
    background: linear-gradient(180deg, #41E197 0%, #3DBAAF 100%);
    width: 100%;
    max-width: 1400px;
    color: white ;
  font-size: 13px;


}


.table-list{
  border: #41E197 solid 2px;
  border-radius: 7px;
  width: 100%;
  border-collapse: collapse;
  max-width: 1400px;

}
.table , td{

  color: #42E695;
  font-size: 13px;
}
.user{
  width: 56px;
  height: 56px;
}
@media screen and (max-width: 1023px) {
  .mobile-table{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-table-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
