<app-nav></app-nav>
<div class="d-flex p-2 justify-content-center align-items-center ">
  <div class="d-flex justify-content-center align-items-center flex-column ">
    <div>
      <img class="page-icon m-4" [src]="icon"/>
    </div>

    <table  class="d-flex justify-content-center align-items-center flex-column  ">
<tbody>
      <tr class="d-flex justify-content-center align-items-center beam   ">
        <th class="m-3">ZDJECIE</th>
        <th class="m-3">IMIE</th>
        <th class="m-3">NAZWISKO</th>
        <th class="m-3">EMAIL</th>
        <th class="m-3">TEL.</th>
        <th class="m-3">DATA UR.</th>
        <th class="m-3">CV</th>
        <th class="m-3">NAZWA STANOWISKA</th>
        <th class="m-3">DOŚ.</th>
        <th class="m-3">KAT.</th>
        <th class="m-2">JĘZYK</th>
        <th class="m-2">DOSTĘPNOŚĆ</th>
        <th class="m-2">PRZYJĘTY</th>
      </tr>
      <tr class="d-flex justify-content-center align-items-center  table-list ">
        <td class="m-2"><img class="user" [src]="user"></td>
        <td class="m-2">Maciej</td>
        <td class="m-2">Wawryszuk</td>
        <td class="m-2">dupa123@gmail.com</td>
        <td class="m-2">+48123456789</td>
        <td class="m-2">01/01/2001</td>
        <td class="m-2">TAK</td>
        <td class="m-2">Junior Angular Developer</td>
        <td class="m-2">1</td>
        <td class="m-2">Frontend</td>
        <td class="m-2">Angular</td>
        <td class="m-2">Natychmiast</td>
        <td class="m-2">Przyjęty</td>
      </tr></tbody>
    </table>

  </div>
</div>
