<app-nav></app-nav>
<div class="d-flex p-2 justify-content-center align-items-center universal-div-height main ">
  <div class="d-flex justify-content-center align-items-center flex-column div-width">
    <div>
      <img class="page-icon m-4" [src]="icon"/>
    </div>

    <div  class="d-flex justify-content-center align-items-center  div-width flex-column main-container ">
      <div class="d-flex justify-content-center align-items-center" >
        <h2 class="title m-2 text-white">DANE KONTA</h2>
      </div>

      <div class="d-flex justify-content-center align-items-center text-white">
        <div class="d-flex justify-content-center align-items-center flex-column p-5">
          <h3>Dane osobiste</h3>
          <input class="add-input m-2" type="text" placeholder="Imię"/>
          <input class="add-input m-2" type="text" placeholder="Imię"/>
          <input  class="add-input m-2" type="text" placeholder="Imię"/>
          <input  class="add-input m-2" type="text" placeholder="Imię"/>
          <input  class="add-input m-2" type="date" placeholder="Imię"/>
          <p id="cv" class="p-3">CV?</p>
          <div class="d-flex justify-content-center align-items-center">
          <label class="m-3">
            <input type="radio" name="choice-radio">
            Yes
          </label>
          <label class="m-3">
            <input type="radio" name="choice-radio">
            No
          </label>
        </div>

        </div>
        <div class="d-flex justify-content-center align-items-center flex-column p-5">
          <h3>Kandydatura</h3>
          <input class="add-input m-2" type="text" placeholder="Imię"/>
          <input class="add-input m-2" type="text" placeholder="Imię"/>
          <input  class="add-input m-2" type="text" placeholder="Imię"/>
          <input  class="add-input m-2" type="text" placeholder="Imię"/>
          <input  class="add-input m-2" type="date" placeholder="Imię"/>
          <p id="cv" class="p-3">Agile?</p>
          <div class="d-flex justify-content-center align-items-center">
            <label class="m-3">
              <input type="radio" name="choice-radio">
              Yes
            </label>
            <label class="m-3">
              <input type="radio" name="choice-radio">
              No
            </label>
          </div>


        </div>
        <div class="d-flex justify-content-center align-items-center flex-column p-5">
        <h3>Opinia</h3>
        <input class="add-input m-2" type="text" placeholder="Imię"/>
        <input class="add-input m-2" type="text" placeholder="Imię"/>
        <input  class="add-input m-2" type="text" placeholder="Imię"/>
        <input  class="add-input m-2" type="text" placeholder="Imię"/>
        <input  class="add-input m-2" type="date" placeholder="Imię"/>
        <p id="cv" class="p-3">Przyjęty?</p>
        <div class="d-flex justify-content-center align-items-center">
          <label class="m-3">
            <input type="radio" name="choice-radio">
            Yes
          </label>
          <label class="m-3">
            <input type="radio" name="choice-radio">
            No
          </label>
        </div>
      </div>

      </div><div class="d-flex justify-content-center align-items-center div-width">
      <button class=" add-button">Zatwierdz</button>
    </div>
    </div>
  </div>
</div>
