<app-nav></app-nav>
<div class="flexbox flexbox-width main p-2">
  <div class="flexbox-column ">
    <div>
      <img class="page-icon m-2" [src]="icon"/>
    </div>

    <div  class="flexbox-column main-container mobile-list ">
      <div class="flexbox" >
        <h3 class="title m-2 text-white">DANE KONTA</h3>
      </div>

      <div class="mobile-list add-flexbox text-white ">
        <div class="flexbox-column p-5">
          <h4>Dane osobiste</h4>
          <input class="add-input m-2" type="text" placeholder="Imię"/>
          <input class="add-input m-2" type="text" placeholder="Nazwisko"/>
          <input  class="add-input m-2" type="email" placeholder="Email"/>
          <input  class="add-input m-2" type="telephone" placeholder="Telefon"/>
          <input  class="add-input m-2" type="date" />
          <p id="cv" class="p-2">CV?</p>
          <div class="flexbox">
          <label class="m-2">
            <input type="radio" name="choice-radio">
            Yes
          </label>
          <label class="m-2">
            <input type="radio" name="choice-radio">
            No
          </label>
        </div>

        </div>
        <div class="flexbox-column p-5">
          <h4>Kandydatura</h4>
          <input class="add-input m-2" type="text" placeholder="Nazwa Stanowsika"/>
          <input class="add-input m-2" type="text" placeholder="Doświadczenie"/>
          <input  class="add-input m-2" type="text" placeholder="Kategoria"/>
          <input  class="add-input m-2" type="text" placeholder="Jezyk"/>


        </div>
        <div class="flexbox-column p-5">
        <h4>Opinia</h4>
        <input class="add-input m-2" type="text" placeholder="Doświadczenie"/>
        <input class="add-input m-2" type="text" placeholder="CV"/>
          <form>
            <textarea  class="add-opinion m-2"  placeholder="Krótka opinia"></textarea>
          </form>


        <p id="cv" class="p-2">Przyjęty?</p>
        <div class="flexbox">
          <label class="m-2">
            <input type="radio" name="choice-radio">
            Yes
          </label>
          <label class="m-2">
            <input type="radio" name="choice-radio">
            No
          </label>
        </div>
      </div>

      </div><div class="flexbox div-width">
      <button class=" add-button">Zatwierdz</button>
    </div>
    </div>
  </div>
</div>
