<app-nav></app-nav>
<div class="d-flex p-2 justify-content-center align-items-center universal-div-height ">
  <div class=" ">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <input class="same-input m-4" type="text" placeholder="Nazwa"/>
      <input class="same-input m-4" type="text" placeholder="Nazwa"/>
      <button class="simple-button m-4">Zaloguj</button>
      <p class="">{{have}}</p>
      <button class="simple-button">Zarejestruj</button>
      <a routerLink="/dashboard" class="simple-link m-4">Przejdz na Stronę główna</a>
    </div>
  </div>
</div>
