<app-nav></app-nav>
<div class="d-flex p-2 justify-content-center align-items-center universal-div-height ">
  <div class=" ">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <input class="same-input m-3" type="text" placeholder="Nazwa"/>
      <input class="same-input m-3" type="text" placeholder="Nazwa"/>
      <button class="simple-button m-3">Zaloguj</button>
      <p class="m-3">{{have}}</p>
      <a routerLink="/register" class="simple-link ">Zarejestruj</a>
      <a routerLink="/dashboard" class="simple-link m-3">Przejdz na Stronę główna</a>
    </div>
  </div>
</div>
