<app-nav></app-nav>
<div class="d-flex justify-content-center align-items-center universal-div-height ">
  <div class=" d-flex justify-content-center align-items-center flex-column ">
    <div class="d-flex justify-content-center align-items-center flex-column ">
      <input class="same-input m-4" type="text" placeholder="Nazwa"/>
      <input class="same-input m-4" type="text" placeholder="Nazwa"/>
      <input class="same-input m-4" type="text" placeholder="Nazwa"/>
      <button class="simple-button m-4">Zarejestruj</button>
      <p class="">{{have}}</p>
      <button class="simple-button">Zaloguj</button>
    </div>
  </div>
</div>
