@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexbox-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.flexbox-width{
  width: 100%;
  height: 100%;
  padding: 5em;
}
.simple-button{
  background: linear-gradient(120.03deg, #41E296 24.01%, #3DBAAE 68.32%);
  border-radius: 90px;
  width: 100%;
  max-width: 203px;
  outline: none;
  color: #ffff;
  font-size: 20px;
  border: none;
  height: 50px;
}
.simple-link{
  background: linear-gradient(120.03deg, #41E296 24.01%, #3DBAAE 68.32%);
  border-radius: 90px;
  width: 100%;
  font-size: 15px;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  max-width: 203px;
  outline: none;
  color: #ffff;

  border: none;
  height: 50px;
}
.simple-link:hover{
  background: #ffff;
  box-shadow: 3px 3px 14px 0px rgba(66, 230, 149, 1);
  color: #42E695;
}
.universal-div-height{
  height: 80vh;
}
.same-input{
  background: linear-gradient(126.75deg, #41E197 28.63%, #3BB5B5 97.43%);
  border-radius: 90px;
  width: 100%;
  max-width: 330px;
  min-width: 330px;
  border: none;
  text-align: center;
  height: 50px;
  font-size: 20px;
  color: #fff;
  outline: none;

}
.same-input::placeholder{
  color: white;
}
.page-icon{
  filter: brightness(0) saturate(100%) invert(58%) sepia(83%) saturate(345%) hue-rotate(131deg) brightness(92%) contrast(83%);
  width: 100%;
  max-width: 50px;
}
@media screen and (max-width: 1023px) {
  .simple-button{
    background: linear-gradient(120.03deg, #41E296 24.01%, #3DBAAE 68.32%);
    border-radius: 90px;
    width: 100%;
    max-width: 153px;
    outline: none;
    color: #ffff;
    font-size: 15px;
    border: none;
    height: 40px;
  }
  .flexbox-width{
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  .simple-link{
    background: linear-gradient(120.03deg, #41E296 24.01%, #3DBAAE 68.32%);
    border-radius: 90px;
    width: 100%;
    font-size: 15px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    max-width: 193px;
    outline: none;
    color: #ffff;

    border: none;
    height: 40px;
  }
  .simple-link:hover{
    background: #ffff;
    box-shadow: 3px 3px 14px 0px rgba(66, 230, 149, 1);
    color: #42E695;
  }
  .same-input{
    background: linear-gradient(126.75deg, #41E197 28.63%, #3BB5B5 97.43%);
    border-radius: 90px;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    border: none;
    text-align: center;
    height: 40px;
    font-size: 15px;
    color: #fff;
    outline: none;

  }
}
