<app-nav></app-nav>
<div class="flexbox  flexbox-width">
<div>
  <div class=" flexbox">
    <div class="welcome-text flexbox m-3 ">
      <img class="user-icon" [src]="UserIcon"/>
      <p class="m-3 ">Witaj Maciej!</p>
    </div>
  </div>
  <div class="  mobile-container flexbox flexbox-width">
    <a routerLink="/home" class="dashboard-button ">
      <img class="icon" [src]="DashboardIcon"/>
    </a>
    <a routerLink="/account" class="dashboard-button ">
      <img class="icon" [src]="AccountIcon"/>
    </a>
    <a routerLink="/candidates" class="dashboard-button" >
      <img class="icon" [src]="CandidatesIcon"/>
    </a>
    <a routerLink="/addcandidate" class="dashboard-button ">
      <img class="icon" [src]="AddCandidateIcon"/>
    </a>
  </div>
</div>
</div>
