<app-nav></app-nav>
<div class="d-flex p-2 justify-content-center align-items-center ">
<div>
  <div class="d-flex justify-content-center align-items-center div-height ">
    <div class="welcome-text d-flex justify-content-center align-items-center">
      <img [src]="UserIcon"/>
      <h2 class="m-4">Witaj Maciej!</h2>
    </div>

  </div>
  <div class="d-flex p-2 justify-content-center align-items-center div-button-height  ">
    <button class="dashboard-button m-4">
      <img [src]="DashboardIcon"/>
    </button>
    <button class="dashboard-button m-4">
      <img [src]="AccountIcon"/>
    </button>
    <button class="dashboard-button m-4">
      <img [src]="CandidatesIcon"/>
    </button>
    <button class="dashboard-button m-4">
      <img [src]="AddCandidateIcon"/>
    </button>
  </div>
</div>
</div>
