<app-nav></app-nav>
<div class="d-flex p-2 justify-content-center align-items-center ">
<div>
  <div class="d-flex justify-content-center align-items-center div-height ">
    <div class="welcome-text d-flex justify-content-center align-items-center">
      <img class="user-icon" [src]="UserIcon"/>
      <h5 class="m-4">Witaj Maciej!</h5>
    </div>

  </div>
  <div class="d-flex p-2 justify-content-center align-items-center div-button-height  ">
    <a routerLink="/home" class="dashboard-button m-4">
      <img class="icon" [src]="DashboardIcon"/>
    </a>
    <a routerLink="/account" class="dashboard-button m-4">
      <img class="icon" [src]="AccountIcon"/>
    </a>
    <a routerLink="/candidates" class="dashboard-button m-4">
      <img class="icon" [src]="CandidatesIcon"/>
    </a>
    <a routerLink="/addcandidate" class="dashboard-button m-4">
      <img class="icon" [src]="AddCandidateIcon"/>
    </a>
  </div>
</div>
</div>
